server {
    # Internal image resizing server.
    server_name localhost;
    listen 8888;

    location ~ "^\/media\/(?<width>\d+)\/(?<image>.+)$" {
        alias /vagrant/public/media/$image;
        image_filter resize $width -;
        image_filter_jpeg_quality 75;
        image_filter_buffer 16M;
    }
}

proxy_cache_path /tmp/nginx-images-cache/ levels=1:2 keys_zone=images:10m inactive=24h max_size=100m;

server {

    listen 80 default_server;

    server_name _;

    location ~ "^\/media\/(?<width>\d+)\/(?<image>.+)$" {
        # Proxy to internal image resizing server.
        proxy_pass http://localhost:8888/media/$width/$image;
        proxy_cache images;
        proxy_cache_valid 200 24h;
    }

    location /media {
        proxy_pass http://localhost:8888;
    }


}